@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes heart-beat {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.3);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }

  .animate-heart-beat {
    animation: heart-beat 0.5s ease-in-out;
  }
}